# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment folders
.venv/
env/
venv/

# Environment variables and secrets
.env

# Logs
*.log

# VSCode settings (optional)
.vscode/

# Mac system files (optional)
.DS_Store

*.pyc
__pycache__/
.DS_Store
